body{
    margin: 0;padding: 0;
}
nav{display: flex;cursor: pointer;
    padding: 10px 20px;margin-bottom: 0px;margin: 0;
    background-color: darkgray;color: white;
    align-items: center;justify-content: space-between;
}
a{
    gap: 10px;border-radius: 10px;padding: 5px;
    text-decoration: none;font-size: 19px;

}
a:hover{
    background-color: darkred;
}
#darkmodebtn{
    font-size: 20px;border: 1px solid black;
    cursor: pointer;
}
#introduction{
    margin: 0;text-align: center;background-color: dimgray;color: black;
}
h1{
    margin: 0;padding: 20px;
}
h2{
    margin: 0;padding: 20px;
}
button{
    color:white;font-size: 20px;border: none;
    margin: 0;padding: 10px;background-color: red;
    border-radius: 10px;margin-top: 20px;margin-bottom: 20px;
}
#about{
    background-color:#E0F7FA;color:black;margin: 0;padding: 50px;
}
h1{
    text-align: center;margin: 0;font-size: 25px;
}
p{
    text-align: center;font-size: 20px;margin: 0px;
    padding: 10px;
}#skills{
    background-color:#4CAF50;color: white;margin: 0;
    padding: 30px;
}
#personal-MOTTO{
background-color: lavender;
padding: 50px;margin: 0;
}
.cards{margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}
.card1{
  background-color: white;margin: 0;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}
h2{
    margin: 0;
}
p{
    margin: 0;
}
.card2{

  background-color: white;margin: 0;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}
.card3{
 background-color: white;margin: 0;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}
#contacts{
    background-color: orange;color: black;
    font-size: 20px;padding: 40px;
}
.social-icons{
    display: flex;margin: 0;gap: 20px;align-items: center;justify-content: center;
}
#facebook{
    width: 90px;height: 90px;object-fit: cover;border-radius: 50%;
}
#whatsapp{
     width: 90px;height: 90px;object-fit: cover;border-radius: 50%;
}
#twitter{
     width: 90px;height: 90px;object-fit: cover;border-radius: 50%;
}
#footer{
    padding: 50px;background-color: mediumturquoise;color: white;
}
#CULCLATOR{
    width: 100%;height: 200px;object-fit: cover;
}
#todolist{
        width: 100%;height: 200px;object-fit: cover;
}
#noteapp{
    width: 100%;height: 200px;object-fit: cover;
}
#niga{
    color:black ;
}
#darkmodebtn{
    background-color: blue;color: white;
}

body {
  background-color: white;
  color: black;
}


body.dark-mode {
  background-color: black;
  color: white;
}
