.questionbox{
    justify-content: center;margin: auto;padding: 10px 20px;
    background-color: hsl(322, 100%, 50%);text-align: center;
    align-items: center;margin: 0;
}
#one{
    padding: 50px;background-color: #3cff00;color: white;margin: 0;
}
#two{
    padding: 50px;background-color:yellowgreen;color: white;margin: 0;
}
#three{
    padding: 50px;background-color:rgba(0, 0, 0, 0.241);color: white;margin: 0;
}
p{
    font-size: 20px;
}
h2{
    font-size: 22px;
}